{% extends "base.html" %}

{% block content %}
<img src="https://code.berlin/content/uploads/09856b8a-1800x999.jpg" alt="CODE students chatting">
<h2>A university with a network in the digital economy</h2>
<p> Have you ever heard of a university integrated into a community space and surrounded by hundreds of entrepreneurs, successful startups and inspiring Digital Pioneers?    
</p>
<p>
    Integrated into the digital world: Our highest goal is to shape the learning environment our students have always dreamed of.
</p>
<br>
<h3>
    At CODE, you will have ample opportunity to question your prejudices. In discussions, we value ideas over hierarchy. That does not mean your ideas won’t get challenged, however. Prepare yourself for intense debates. In the end, the best idea wins – no matter if it came from a student, a professor or a big-shot CEO.
</h3>
<br>
<p>
    At CODE, you will have ample opportunity to question your prejudices. In discussions, we value ideas over hierarchy. That does not mean your ideas won’t get challenged, however. Prepare yourself for intense debates. In the end, the best idea wins – no matter if it came from a student, a professor or a big-shot CEO.


</p>
{% endblock %}