{% extends "base.html" %}

{% block content %}
    <img src="https://code.berlin/content/uploads/8f750e8e-1800x1200.jpg" alt="CODE students chatting">
    <h2>Apply now</h2>
    
    <form action="">
        <div>
            <input type="text" placeholder="Full Name">
            <input type="text" placeholder="Email Adress">
        </div>
        <textarea name="" id="" cols="30" rows="10" placeholder="Your message"></textarea>
        <input type="submit" value="Submit">
    </form>

{% endblock %}