{% extends "base.html" %}

{% block content %}
    <img src="https://code.berlin/content/uploads/8f750e8e-1800x1200.jpg" alt="CODE students chatting">
    <h1>Apply now</h1>
    <p> Have you ever heard of a university integrated into a community space and surrounded by hundreds of entrepreneurs, successful startups and inspiring Digital Pioneers?    
    </p>
    <p>
        Integrated into the digital world: Our highest goal is to shape the learning environment our students have always dreamed of.
    </p>
    
    <form action="">
        <div>
            <input type="text" placeholder="Full Name">
            <input type="text" placeholder="Email Adress">
        </div>
        <textarea name="" id="" cols="30" rows="10" placeholder="Your message"></textarea>
        <input type="submit" value="Submit">
    </form>

{% endblock %}