{% extends "base.html" %}

{% block content %}    
    <img src="https://code.berlin/content/uploads/d019240d-1200x800.jpg" alt="CODE students">
    <h1> Diversity and Inclusion</h1>    
    <p> CODE sees diversity and inclusion as an opportunity in terms of attitude and policy, and we cultivate a culture of participation for everyone and their specific skills and characteristics.
    For this reason, respect, recognition and empowerment of all members of the university has the highest priority—regardless of gender, abilities, cultural or ethnic background, religion or belief, age, sexual identity or preference, or other reasons that may lead to discrimination and/or exclusion.
    </p>
    <p>
        Studying at CODE has been a great experience. When I needed help, my male peers were encouraging and helpful, but not from a patronizing standpoint, but like peer-to-peer. Working in a diverse team is so important: the work is better, and it’s more fun.
    </p>
    <p>
        CODE’s unique curriculum does more than help our students learn by doing. Our project-based, self-directed learning allows all types of learners to thrive and show off their skills, especially for those who haven’t always been comfortable with traditional learning formats. We also address visual and auditory impairments by providing learning tools to suit various needs. Students are actively encouraged to co-design more accessible learning journeys that address their individual requirements.
    </p>
   


{% endblock %}