{% extends "base.html" %}

{% block content %}
    <img src="https://code.berlin/content/uploads/0a1dfb8d-1800x1200.jpg" alt="CODE students chatting">
    <h2>Rethinking higher education</h2>
    <p> With CODE, our founders wanted to create a completely new educational concept. They wanted to move away from teacher-centered classrooms, from exams that demand rote knowledge that will be immediately forgotten, and from grades that only reflect a small part of your actual knowledge spectrum. Instead, they have developed a new learning concept: Curiosity-Driven Education (which is also evident in our name “CODE”).
    </p>
    <p>We decided that in order to learn how to be a productive member of an international and interdisciplinary team, your learning environment should provide you with lots of opportunities to work in teams. As for the development of problem-solving skills, you would be presented with real-life problems to solve over and over again. Finally, to help you develop (or better rediscover) your eagerness to learn, we created a learning environment where students’ main driver for learning would be their own curiosity.
    </p>
    <br>
    <h3>
        Learning at CODE starts with the orientation semester, where all first-semester students get introduced to CODE’s learning concept, the three study programs, and our Science, Technology & Society Program. Below you find an overview about the basic learning principles at CODE.
    </h3>
    <br>    
    <p>
        The knowledge transfer always takes place in the context of interdisciplinary projects, which are among other things, developed with our partners and are intended to ensure a practical learning experience. Our professors do not wish to solely impart their knowledge to you, but rather try to support and strengthen you on your individual learning path.
    </p>
    

{% endblock %}